div.toolbar_button_icon_small {
    display: none;
}

div.toolbar_overlay_button_icon{
    display: none;
}

div.toolbar_overlay_button_icon {
    display: none;
}

div #search{

	display: none;
}


div.toolbar_button_overlay.toolbar_button_enabled{
    display: none;
}

#texwrapper{
    display: none;
}