<div style="height: 100% ;width:100%">
    <div id="query_box">
        <input id="query" ng-model="query" data-ng-change="change()" autofocus>


    </div>

    <div id="controls" style="display: inline;">
        <button ng-click="performSearch()" style="display: inline;"> Search</button>
        <button ng-click="drawExpression()" style="display: inline;"> Draw Expression</button>
    </div>


    <div id="body">
        <div style="display: inline;">Rendered Expression:</div>

        <div id="eqnontainer">

            <ul>
                <li ng-repeat="r in tokens track by $index">
                    <div data-ng:click="processClick($index)">
                        <div style='width:100px;' data-ng-class=
                                "{selected: $index==selectedIndex}"
                             mathjax-bind="r.rendered"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



