<!--
    Tangent
    Copyright (c) 2013 David Stalnaker, Richard Zanibbi

    This file is part of Tangent.

    Tanget is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Tangent is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Tangent.  If not, see <http://www.gnu.org/licenses/>.

    Contact:
        - David Stalnaker: david.stalnaker@gmail.com
        - Richard Zanibbi: rlaz@cs.rit.edu
-->

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" type="text/css" href="./static/main.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="./static/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		
		
		</script>
		
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
		
		<script type="text/javascript" src="./static/js/app.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="MyCtrl">
        <div id="header">
            <div id="logo">Tangent</div>
            <input id="query" ng-model="query" ng-change="change()" autofocus>
        </div>
        <div id="body">
		
			<div id="eqnontainer">
				<ul>
				<li  ng-repeat="r in tokens track by $index">
                    <div style='width:100px;' ng-class=
                            "{selected: $index==selectedIndex}"
                             mathjax-bind="r" ng:click="processClick($index)"></div>
                </li>
				</ul>
			</div>
			

            <div id="numResults">
               
            </div>
            <ul id="results">
			
                <li class="result" ng-repeat="r in hitlist">
                    <div class="expression" mathjax-bind="r"></div>
                    <div class="moreInfo"/>
                        

                </li>
			
			
			
            </ul>

            <div id='contentcontainer'>
             <div class='container' ng-view></div>
            </div>

        </div>

    </body>

</html>
