<!--
    Tangent
    Copyright (c) 2013 David Stalnaker, Richard Zanibbi

    This file is part of Tangent.

    Tanget is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Tangent is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Tangent.  If not, see <http://www.gnu.org/licenses/>.

    Contact:
        - David Stalnaker: david.stalnaker@gmail.com
        - Richard Zanibbi: rlaz@cs.rit.edu
-->

<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/main.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="./static/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/javascript" src="./static/main.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="logo">Tangent</div>
            <input id="query" value="{{ query }}" autofocus>
			
        </div>
		
        <div id="body">
			<div id="rendered" > {{ query }} </div>
            <div id="numResults">
				(M,T,S):({{num_math_results}},{{num_text_results}},{{num_shared_results}})
                {{ num_results }} results found in
                {{ '{:.0f}'.format(search_time + parse_time) }} ms
                ({{ '{:.0f}'.format(parse_time) }} ms parsing,
                {{ '{:.0f}'.format(search_time) }} ms searching).
                {% if debug %}
                    <br>
                    Pair counts: {{ pair_counts }}
                {% endif %}
            </div>
            <ul id="results">
            {% for r in results %}
                <li class="result">
					<div class="title">Title:{{r.title}}</div>
					<div class="fragment">{{r.fragment}}</div>
                    <div class="moreInfo">
                        <div class="info">
							<div class="info extra">Math Score: {{r.math_score}}</div>
							<div class="info extra">Text Score: {{r.text_score}}</div>
							<div class="info extra">Pos Score: {{r.pos_score}}</div>
							<div class="info extra">Math Reason:{{ r.math_reason }}</div>
							<div class="info extra">Text Reason: {{r.text_reason}}</div>
							<div class="info extra">Pos Reason: {{r.pos_reason}}</div>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>

    </body>

</html>
