<!--
    Tangent
    Copyright (c) 2013 David Stalnaker, Richard Zanibbi

    This file is part of Tangent.

    Tanget is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Tangent is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Tangent.  If not, see <http://www.gnu.org/licenses/>.

    Contact:
        - David Stalnaker: david.stalnaker@gmail.com
        - Richard Zanibbi: rlaz@cs.rit.edu
-->

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <base href="/tangent2/" />

        <!--<base href="/" />-->
        <link rel="stylesheet" type="text/css" href="styles/main.css">
		<link rel="stylesheet" type="text/css" href="styles/iframe.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="static/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		
		
		</script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.js"></script>




		<script type="text/javascript" src="scripts/app.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="MyCtrl">
        <div id="header">
            <div id="logo">Tangent</div>


        </div>

        <div id="query_box">
            <input id="query" ng-model="query" data-ng-change="change()" autofocus>



        </div>

        <div id="controls" style="display: inline;">
            <button ng-click="performSearch()" style="display: inline;"> Search</button>
            <button ng-click="drawExpression()" style="display: inline;"> Draw Expression</button>
        </div>

        <div id="systems" style="display: inline;">
            <select ng-model="selected_datasource" ng-options="source.system for source in data_sources">
            </select>

        </div>

        <div id="weights" style="display: inline;">
            <select ng-model="selected_weight" ng-options="source.weight for source in weights">
            </select>

        </div>


        <div id="body">
            <div style="display: inline;">Rendered Expression:</div>

			<div id="eqnontainer" >

				<ul>
				<li  ng-repeat="r in tokens track by $index">
                    <div data-ng:click="processClick($index)">
                    <div style='width:100px;' data-ng-class=
                            "{selected: $index==selectedIndex}"
                             mathjax-bind="r.rendered" ></div>
                    </div>
                </li>
				</ul>
			</div>


            <div id='contentcontainer'>
                <div class='container' ng-view></div>
            </div>


        </div>

    </body>

</html>
